body {
    background-color: rgb(238, 233, 233);
    font-family: sans-serif;
}


h1 {
    text-align: center;

}

#start-btn {
    background: circle;
    background-color: pink;
    border-radius: 10px;
    color: #101213;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.21px;
    line-height: 20px;
    padding: 25px 75px;
    text-align: center;
  }

  #start-btn:hover {
    background-color: pink;
    opacity: 0.5;
    transition: 0.5s;
    border-color: black;
  }

.container {
    text-align: center;
    padding-top: 10%;
  }

#countdown {
  text-align: right;
}

.options {
  padding: 20px;
  align-items: center;
  
}

#quiz-results {
  display: none;
  text-align: center;
}

#highscores {
  display: none;
  text-align: center;
  list-style-position: inside;
}

ol {
  padding: 0px;
}

button {
  min-width: 175px;
  max-width: 700px;
  margin: 10px;
  background-color: pink;
  border-radius: 5px;
}

button:hover {
  background-color: pink;
  opacity: 0.5;
  transition: 0.5s;
  border-color: black;
}

